@font-face {
  font-family: "Poetsen One";
  src: url(../fonts/PoetsenOne-Regular.ttf);
}
@-webkit-keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@-moz-keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@-ms-keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@-o-keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
* {
  cursor: none;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  background-color: #04081f;
  color: #f0ffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: center;
}

p,
.button {
  font-size: 1.13rem;
}

h1 {
  font-family: "Poetsen One";
  font-size: 6rem;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

.gradient-text {
  letter-spacing: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  background: linear-gradient(to right, #eb2424, #e7c114, #eb2424, #e7c114, #eb2424);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient-anim 4s linear infinite;
  -moz-animation: gradient-anim 4s linear infinite;
  -ms-animation: gradient-anim 4s linear infinite;
  -o-animation: gradient-anim 4s linear infinite;
  animation: gradient-anim 4s linear infinite;
}

.feather {
  stroke-width: 3;
}

.button {
  display: block;
  padding: 0.9rem 1.4rem;
  border: 4px solid #f0ffff;
  border-radius: 2rem;
  transition: box-shadow 0.3s ease-in;
  background: none;
}

.primary {
  background: #f0ffff;
  color: #04081f;
  box-shadow: 0px 2px 20px 5px rgba(4, 8, 31, 0.7), 0px 0px 0px 0px #f0ffff;
}

.button:hover {
  box-shadow: 0px 2px 20px 5px rgba(4, 8, 31, 0.7), 0px 0px 20px 4px #f0ffff;
}

#cursor-dot,
#cursor-light {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, transform 0.2s ease-in-out;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#cursor-dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #f0ffff;
  mix-blend-mode: difference;
}

#cursor-light {
  width: 1500px;
  height: 1500px;
  background: radial-gradient(closest-side at 50% 50%, rgba(240, 255, 255, 0.1), rgba(4, 8, 31, 0));
  pointer-events: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
.nav span {
  color: rgba(240, 255, 255, 0.5);
  margin-bottom: 15px;
  transition: color 0.2s linear;
}

.nav-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
}

.nav-right {
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}
.nav-right:has(.button:hover) span {
  color: #f0ffff;
}

.nav-left {
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}
.nav-left:has(.button:hover) span {
  color: #f0ffff;
}

.nav-down {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.nav-down:has(.button:hover) span {
  color: #f0ffff;
}

#nav-dots {
  position: absolute;
  display: flex;
  bottom: 15px;
  width: 70px;
  justify-content: space-between;
}
#nav-dots .nav-dot {
  background: #f0ffff;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  opacity: 20%;
  transition: all 0.4s ease-out;
}
#nav-dots .selected {
  width: 30px;
  opacity: 40%;
  border-radius: 5px;
}

.hero {
  overflow: hidden;
  position: absolute;
  top: 25%;
  transition: all 0.75s ease-in-out;
}
.hero .letter {
  display: inline-block;
  line-height: 1em;
}

.sub-hero {
  position: absolute;
  top: 40%;
  transition: top 0.75s ease-in-out;
}

.anim-fade {
  opacity: 0;
}

.section-container {
  width: 100%;
  height: 65%;
}

.projects {
  border: #f0ffff 1px solid;
}
.projects img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
