// Colors
$primary-color: #e7c114;
$secondary-color: #eb2424;
$dark-blue: #04081f;
$white: #f0ffff;
$gradient: linear-gradient(to right, $secondary-color, $primary-color, $secondary-color, $primary-color, $secondary-color);

@font-face {
    font-family: 'Poetsen One';
    src: url(/fonts/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: Smoolthan;
    src: url(/fonts/Smoolthan\ Thin.otf);
    font-weight: lighter;
}

// ------------------------------------------------------

// ANIM //

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }  
    @keyframes #{$animation-name} {
      @content;
    }
  }
  
  @mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
  }

@include keyframes(gradient-anim) {
    0% { background-position: 0% 50% }
    100% { background-position: 100% 50% }
}

// ------------------------------------------------------

* {
    cursor: none;
}

body {
    margin: 0;
    background-color: $dark-blue;
    color: $white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,
.button {
    font-family: 'Smoolthan';
    font-weight: bold;
    font-size: 1.25rem;
    font-stretch: semi-expanded;
}

h1 {
    font-family: 'Poetsen One';
    font-size: 7rem;
    text-transform: uppercase;
}

.gradient-text {
    background: $gradient;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include animation('gradient-anim 4s linear infinite');
}

// BUTTONS //

.button {
    //TODO: remove this
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //

    display: block;
    font-family: 'Smoolthan';
    padding: 0.9rem 1.4rem;
    border: 3px solid $white;
    border-radius: 2rem;
}

.primary {
    background: $white;
    color: $dark-blue;
    box-shadow:
        0px 2px 20px 5px rgba($dark-blue, 0.7),
        0px 0px 0px 0px $white;
    transition:
        box-shadow 0.3s ease-in;
}

.primary:hover {
    box-shadow:
        0px 2px 20px 5px rgba($dark-blue, 0.7),
        0px 0px 20px 4px $white;
}

// CURSOR //

#cursor-dot,
#cursor-light {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition:
        opacity 0.4s ease-in-out,
        transform 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#cursor-dot {
    border-radius: 50%;
    $size: 10px;
    width: $size;
    height: $size;
    background-color: $white;
    mix-blend-mode: difference;
}

#cursor-light {
    width: 1500px;
    height: 1500px;
    background: radial-gradient(
        closest-side at 50% 50%,
        rgba($white, .1),
        rgba($dark-blue, 0)
        );
    pointer-events: none;
}